$white: #ffffff;

// Header
$color-header-text: rgb(240 246 252 / 70%);
$color-header-bg: #161b22;

// Left Aside

$color-border-muted: #21262d;
$color-canvas-default: #0d1117;
$color-border-default: #30363d;
$color-canvas-inset: #010409;
$color-input-placeholder: #474f58;
$color-accent-emphasis: #1f6feb;
$color-accent-emphasis: #1f6feb;
$color-primer-shadow-focus: rgb(12, 45, 107) 0px 0px 0px 3px;
$color-btn-primary-bg: #238636;

// Default Body 

$color-fg-default: #c9d1d9;
$color-fg-default: #c9d1d9;